<div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="deleteRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteRecipeModalLabel">Potwierdzenie usunięcia przepisu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                    <div id="confMessage"></div>
              </div>
              <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                   <button type="button" class="btn btn-danger" onclick="DeleteRecipe()">Usuń</button>
              </div>
        </div>
    </div>
</div>

@*hidden input to store ingridientId*@
<input type="hidden" id="recipeId"/>
