@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="me-5 nav-link text-dark dropdown-toggle" href="#" data-bs-toggle="dropdown">  Witaj @User.Identity!.Name  </a>
        <ul class="dropdown-menu"> 
              <li>
                <a class="dropdown-item" asp-controller="User" asp-action="Index" >
                    Moje przepisy
                </a>
              </li>
                @if(User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    <li>
                        <a class="dropdown-item" asp-controller="RecipeCategory" asp-action="Index" >
                            Kategorie
                        </a>
                    </li>  
                }
                <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    Ustawienia konta
                </a>
              </li>
              <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" method="post" >
                    Wyloguj
                </a>
              </li>
		</ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </li>
}
</ul>	
