@{
    string description = "";
    var code = ViewBag.Code;
    switch (code)
    {
        case ItemCodes.UNIT:
            description = "Edycja jednostki"; break;
        case ItemCodes.INGR:
            description = "Edycja składnika"; break;
    }
}

<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editItemModalLabel">@description</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-2">
                    <label class="control-label">Nowa nazwa</label>
                    <input id="newItemName" class="form-control" placeholder="Podaj nową nazwę..." />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <input type="submit" value="Aktualizuj" onclick="EditItem('@code')" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>