@model CookBook.Application.Commons.IItemListDto
@{
    string description = "";
    string actionName = "Create";
    var code = ViewBag.Code;
    switch (code)
    {
        case ItemCodes.UNIT:
            description = "Dodaj nową jednostkę"; 
            break;
        case ItemCodes.INGR:
            description = "Dodaj nowy składnik";
            break;
        case ItemCodes.CATG:
            description = "Dodaj nową kategorie";
            break;
    }
}

<form asp-action="@actionName">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label class="control-label" for="Name">@description</label>
    <div class="input-group">
        <input class="form-control" asp-for="Name" type="text" placeholder="Podaj nazwę"/>
        <div class="input-group-append"><input type="submit" value="Dodaj" class="btn btn-primary" /></div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
    @if(code == ItemCodes.INGR){
        <div class="input-group">
            <select class="form-select mt-1" asp-for="AddInfo" id="ingrCategoryList">
                <option value="0" selected disabled="true">Wybierz kategorię</option>
            </select>
        </div>
        <span asp-validation-for="AddInfo" class="text-danger"></span>
    }
</form>
