<div id="searchInfo"></div>
<div class="album bg-body-tertiary">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3" id="advSearchResults">
        @*uzupełniane w site.js metodą RenderRecipeCard*@
    </div>
</div>