@model CookBook.Application.RecipeUtils.Commands.CreateRecipeIngridient.CreateRecipeIngridientCommand

<h4>Edytuj składniki przepisu</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRecipeIngridientModal">
          Dodaj składnik przepisu
        </button>
        <!-- Modal -->
        <div class="modal fade" id="createRecipeIngridientModal" tabindex="-1" aria-labelledby="createRecipeIngridientModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="createRecipeIngridientModalLabel">Nowy składnik przepisu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form asp-action="CreateRecipeIngridient">
                   <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input asp-for="RecipeId" class="form-control" type="hidden"/>

                        <div class="form-group mb-2">
                            <label asp-for="Amount" class="control-label">Ilość</label>
                            <input asp-for="Amount" id="amountId" class="form-control" placeholder="Wpisz liczbę lub ułamek..." />
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Ingridient" class="control-label">Nazwa składnika</label>
                            <select asp-for="Ingridient" id="createlistIngridients" class="form-select">
                            </select>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Unit" class="control-label">Nazwa jednostki</label>
                            <select asp-for="Unit" id="createlistUnits" class="form-select">
                            </select>
                        </div>
                         <div class="form-group mb-2">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <span><font size="2"><br />(Opis powinien odzwierciedlać podane dane. 
                                Jeśli np. wybrany składnik to mleko, jednostka to szklanka a ilość to 2, 
                                opis powinien brzmieć np. 2 szklanki mleka)</font></span>
                            <input asp-for="Description" id="descId" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        <input type="submit" value="Dodaj" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
