@model CookBook.Application.RecipeUtils.RecipeIngridientDto

<h4>Edytuj składniki przepisu</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRecipeIngridientModal">
          Dodaj składnik przepisu
        </button>
        <!-- Modal -->
        <div class="modal fade" id="createRecipeIngridientModal" tabindex="-1" aria-labelledby="createRecipeIngridientModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="createRecipeIngridientModalLabel">Nowy składnik przepisu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form asp-action="EditRecipeIngridients">
                   <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-2">
                            <label asp-for="Amount" class="control-label">Ilość</label>
                            <input asp-for="Amount" class="form-control" placeholder="Wpisz liczbę lub ułamek..." />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Ingridient" class="control-label">Wybierz składnik</label>
                            <input asp-for="Ingridient" class="form-control" list="datalistIngridients" placeholder="Znajdź składnik...">
                            <datalist id="datalistIngridients"></datalist>
                            <span asp-validation-for="Ingridient" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-2">
                            <label asp-for="Unit" class="control-label">Wybierz jednostkę</label>
                            <input asp-for="Unit" class="form-control" list="datalistUnits" placeholder="Znajdź jednostkę...">
                            <datalist id="datalistUnits"></datalist>
                            <span asp-validation-for="Unit" class="text-danger"></span>
                        </div>
                         <div class="form-group mb-2">
                            <label asp-for="Description" class="control-label">Opis</label>
                            <span><font size="2"><br />(Opis powinien odzwierciedlać podane dane. 
                                Jeśli np. wybrany składnik to mleko, jednostka to szklanka a ilość to 2, 
                                opis powinien brzmieć np. 2 szklanki mleka)</font></span>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        <input type="submit" value="Dodaj" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>
