@using CookBook.Application.RecipeUtils.Commands.CreateRecipe;
@model CreateRecipeCommand
@{
    ViewData["Title"] = "Dodaj przepis";
}
<h4 style="font-weight:normal">Dodaj nowy przepis</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form action="/Recipe/Create" method="post" enctype="multipart/form-data">
            <div class="form-group mb-3">
                <label class="control-label" for="Name">Nazwa (wymagane)</label>
                <input class="form-control" type="text" asp-for="Name" placeholder="Wpisz nazwę (max. 100 znaków)">   
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="Description">Opis przygotowania</label>
                <textarea class="form-control" type="text" asp-for="Description" placeholder="Opcjonalnie (możesz dodać później)"></textarea>  
            </div>

            <div class="form-group mb-3">
                <label class="form-label" for="ImageFile">Wgraj zdjęcie (preferowana proporcja 4:3)</label>
                <input class="form-control" type="file" asp-for="ImageFile" accept="image/*">
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" for="OnlyForAdults">Tylko dla osób pełnoletnich?</label>
                <select class="form-select" aria-label="Default select example" asp-for="OnlyForAdults">
                    <option value="True">Tak</option>
                    <option selected value="False">Nie</option>
                </select>
            </div>

            <input type="submit" value="Dodaj przepis" class="btn btn-primary">    
            <a asp-action="Index" class="btn btn-outline-secondary">Anuluj</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
