@using CookBook.Application.RecipeUtils.Commands.CreateRecipeIngridient
@model CookBook.Application.RecipeUtils.Commands.EditRecipe.EditRecipeCommand

@{
    ViewData["Title"] = "Edytuj przepis";
}
<div class="row">
    <div class="col-md-5">
        <partial name="_EditRecipeIngridients" model="new CreateRecipeIngridientCommand() {RecipeId = Model.Id}"/>
        <div id="ingridientsList" class="row" data-recipe-id="@Model.Id"></div>
    </div>
    <div class="col-md-1 mb-3"></div>
    <div class="col-md-5">
        <h4>Edytuj przepis</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label">Nazwa</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label">Opis przygotowania</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlyForAdults" />
                    Tylko dla pełnoletnich
                </label>
            </div>
            @if(Model.ImageName == null)
            {
                <div>Brak zdjęcia</div>
            }
            else
            {
               <div><img width="122" height="auto" class="mb-1" src="@("~/images/"+Model.ImageName)" asp-append-version="true"/></div>                
            }
            <a asp-controller="Recipe" asp-action="EditImage" asp-route-Id="@Model.Id.ToString()" class="btn btn-secondary mb-3">Zmień zdjęcie</a>         
            <div></div>
            <div class="form-group float-md-end">
                <input type="submit" value="Zapisz zmiany" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" asp-controller="Recipe" asp-action="Details" asp-route-recipeId="@Model.Id.ToString()">Anuluj</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Recipe/Edit.js"></script>
}
