@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>To moja pierwsza aplikacja MVC napisana w .Net 7.0</p>
<p>Stworzona jedynie w celach edukacyjnych. Nie do użytku komercyjnego.</p>
<p>Zdjęcia przepisów są przykładowe i nie są moją własnością.</p>
