@page
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowanie";
}

<header>
    <h3 class="mb-3">Czy na pewno chcesz się wylogować?</h3>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {   <div class="btn-group">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-outline-primary">Potwierdź wylogowanie</button>
            </form>&nbsp;
            <a class="btn btn-outline-danger" onclick="history.go(-1);">Anuluj</a>
            </div>
        }
        else
        {
            <p>Wylogowałeś aię z aplikacji.</p>
        }
    }
</header>
