@model CookBook.Application.IngridientUtils.IngridientDto

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label class="control-label" for="Name">Dodaj nowy składnik</label>
    <div class="input-group">
        <input class="form-control" asp-for="Name" type="text" placeholder="Podaj nazwę"/>
        <div class="input-group-append"><input type="submit" value="Dodaj" class="btn btn-primary" /></div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>
