@using CookBook.Application.IngridientUtils;
@model IEnumerable<CookBook.Application.IngridientUtils.IngridientDto>

@{
    ViewData["Title"] = "Składniki";
}

<h3>Lista wszystkich dostępnych składników</h3>
<hr />
<div class="row">
    <div class="col-12 col-md-3">
        <div class="mb-3">
            <partial name="_Create" model="new IngridientDto()"/>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Dodane przez
                    </th>
                    <th>
                        Data dodania
                    </th>
                    @foreach(var item in Model)
                    {
                        @if (item.IsEditable)
                        {
                            <th>Akcje</th>
                        }
                        break;
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedTime)
                    </td>
                    @if(item.IsEditable)
                    {
                        <td>
                            <a title="to do" class="btn btn-outline-primary btn-sm" asp-controller="Ingridient" asp-action="Index"><i class="bi bi-pencil"></i></a> 
                            <a title="to do" class="btn btn-outline-danger btn-sm" asp-controller="Ingridient" asp-action="Index"><i class="bi bi-trash"></i></a> 
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
