@model CookBook.Application.UnitUtils.Commands.EditUnit.EditUnitCommand
<div class="modal fade" id="editUnitModal" tabindex="-1" aria-labelledby="editUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="editUnitModalLabel">Edycja jednostki</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form asp-action="Edit">
                   <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group mb-2">
                            <label asp-for="Name" class="control-label">Nowa nazwa</label>
                            <input asp-for="Name" id="newUnitName" class="form-control" placeholder="Podaj nową nazwę..." />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                        <input type="submit" value="Aktualizuj" class="btn btn-primary"/>
                    </div>
                </form>
        </div>
    </div>
</div>