@model Pagination

<form asp-action="Index" method="get">
    <label class="control-label">Znajdź jednostkę</label>
    <div class="input-group">
        <input type="text" name="search" value="@Model.SearchPhrase" class="form-control" placeholder="Wpisz szukaną frazę" id="search">
        <div class="input-group-append"><input type="submit" value="Szukaj" class="btn btn-primary" /></div>
    </div>
    <input value="@Model.PageSize" name="pageSize" type="hidden"/>
    <input value="@Model.SortOrder" name="sortOrder" type="hidden"/>
</form>

